{% extends "proyectocap/base.html" %}

{% load static %}

{% block content %}

   <div class="contenedorFormulario">
      {% if "valido" in request.GET %}
         <p style="color: black;">Información enviada correctamente</p>
      {% endif %}
      <form action="" method="POST" style="text-align: center;">
         {% csrf_token %}
         <table style="color: black; margin: 25px auto;">{{Formulario.as_table}}</table>
         <input type="submit" value="Enviar" style="width: 150px;">
      </form>
   </div>

{% endblock %}